*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #1E2D3B;
  font-family: 'Lato', sans-serif;
}

/* *********************** navbar********************* */
.navbar_site{
  width: 100%;
  height: 40px;
  background-color: black;
}

.navbar_site img {
  width: 40px;
  margin-left: 200px;
}
/* ***********************main section********************** */
.container{
  width: 60%;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
}
.card{
  background-color: black;
  padding: 30px;
  text-align: center;
  width: 250px;
  height: 400px;
}
.card img{
  width: 200px;
}

h2, h3, h4{
  color: white;
}
